<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbshixun.mapper.ProductMapper">
    <select id="getMenu" resultType="com.example.dbshixun.pojo.Product">
        select ProductId,ProductName,Price from menu
    </select>
    <select id="getSales" resultType="com.example.dbshixun.pojo.Product">
        select ProductId,ProductName,SalesVolume from menu
    </select>
    <select id="productList" resultType="com.example.dbshixun.pojo.Product">
        select * from menu
    </select>
    <select id="addProduct" resultType="com.example.dbshixun.pojo.Product">
        insert into menu values(#{productId},#{productName},
        #{productType},#{price},#{salesVolume})
    </select>
    <update id="addSales" parameterType="int">
        update menu set salesVolume= salesVolume+1
        where productId=#{id}
    </update>
    <delete id="deleteProduct" >
        delete from menu where productId=#{id}
    </delete>
    <update id="updatePrice" >
        update menu set price=#{price} where productId=#{id}
    </update>

</mapper>